<%- include("template/head", {titlePath: "card"}) %>
<body>
    <h1>card de producto</h1>
    <div class="container list">
        <h2>esto va a ser una card</h2>
    </div>
    <a href="/">Volver</a>
</body>
</html>