<%- include("template/head", {titlePath: "lista de productos"}) %>
<body>
    <h1>Lista de productos en el carrito</h1>
    <div class="container list">
        <h2>aca van los productos seleccionados</h2>
    </div>
    <a href="/">Volver</a>
</body>
</html>