<%- include("template/head", {titlePath: "desafio ejs index"}) %>
<body> 
    <h1>Desafio Coderhouse</h1>
    <div class="container">        
        <h2> Complete el formulario para cargar productos </h2>
        <form  class="form"
            action="/api/productos" 
            method="post" 
            enctype="multipart/form-data"
        >
                <p>Nombre de producto</p>
                <input name="title" placeholder="Titulo"> <br>
                <p>Precio</p>
                <input name="price" type="number" placeholder="Precio"> <br>
                <p>Inserte una imagen</p>
                <input name="thumbnail" type="file"/> <br>
                <br><button type="submit"> ENVIAR! </button>
        </form>
        <a href="/productList">Ver lista de productos</a>
        <div class="live-products" id="live-products"></div>
    </div>
</body>
</html>