
<%- include("template/head", {titlePath: "lista de productos"}) %>
<body>
    <h1>Lista de productos </h1>
    <div class="container list">
        <% if( productos.length == 0 ) {%>
            <h2>Aun no hay productos 😒 </h2>
            <a href="/"> Cargar uno </a>
        <% } else{ %>
            <table class="prod-table">
                <tr>
                    <td> Titulo  </td>
                    <td>  Precio </td>   
                    <td>  imagen </td>                         
                </tr>
                <% productos.forEach((producto)=>{ %>
                    <tr>     
                        <td> <%- producto.title %>     </td>
                        <td> $ <%- producto.price %>   </td>     
                        <td> <img src="<%- producto.thumbnail %>" width="100px" alt="prod-img"> </td>              
                    </tr>
                <% }) %>
            </table>
        <% } %>  
    </div>
    <a href="/">Volver</a>
</body>
</html>